.main-content {
width:80%;
margin: auto;
text-align: justify;
}

.item-listing {
border-style: solid;
}

.item-title {
text-align:center;
}

.item-picture {
margin:auto;
width:50%;
display:block;
}

.item-description {
width:80%;
margin:auto;
margin-top:2%;
margin-bottom:2%;
padding:3%;
text-align: justify;
background-color: #ddd;
}

.item-metadata{
width:80%;
margin:auto;
margin-bottom:2%;
padding:3%;
padding-top:1%;
padding-bottom:5%;
text-align: justify;
background-color: #ddd;
}
